.App {
}

.home_img{
  height: 150px;
  width: 150px;
}

.home_row{
  height: 300px;
  width: 300px;
}

.event_pic{
  height: 150px;
  width: 150px;
}


/* Search Bar  */
.searchBar {
  display: flex;
  flex-direction: row;
}

