.App {
  background-color: #343A40 !important;
  font-family: 'Roboto', sans-serif !important;
  color: #FFC0CB;
}


.home-container {
  background-color: #343A40;
}

.home_img{
  height: 150px;
  width: 150px;
}

.home_row{
  height: 300px;
  width: 300px;
}

.event_pic{
  height: 150px;
  width: 150px;
}


.card-content-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    color: #e9e9e9;
    border: 2px solid #e9e9e9;
    border-radius: 15px;
    transition: transform .3s ease-in-out;
    text-decoration: none;
}

/* Search Bar  */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* .searchBarBtn {
  border: var(--clr-neon-purple) 0.125em solid !important;
  border-radius: 0.25em !important;
} */

/* color: var(--clr-neon-purple) !important;
display: inline-block !important;
cursor: pointer !important;
text-decoration: none !important;
border: var(--clr-neon-purple) 0.125em solid !important;
border-radius: 0.25em !important;
background: var(--clr-bg) !important;
padding: 0.25em 1em !important;
text-shadow: 
  0 0 0.125em hsl(0 0% 100% / 0.5), 
  0 0 0.45em currentColor;
box-shadow: inset 0 0 0.5em 0 var(--clr-neon-purple), 
0 0 0.5em 0 var(--clr-neon-purple);
position: relative; */


/* neon button start */
:root {
  /* brighter pink...doesn't match the banner color of pink but looks pretty good... */
  /* --clr-neon: hsl(317 100% 54%); */
  --clr-neon-pink: hsl(327 72% 50%);
  --clr-neon-purple: hsl(253 41% 52%);
  --clr-bg: hsl(323 21% 16%);
}

/* pink neon button */
.neon-button-pink {
  color: var(--clr-neon-pink) !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: var(--clr-neon-pink) 0.125em solid !important;
  border-radius: 0.25em !important;
  background: var(--clr-bg) !important;
  padding: 0.25em 1em !important;
  text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.5), 
    0 0 0.45em currentColor ;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink), 
  0 0 0.5em 0 var(--clr-neon-pink);
  position: relative;
}


.neon-button-pink::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon-pink);
  opacity: 0;
  background-color: var(--clr-neon-pink) !important;
  z-index: -1 !important;
  transition: opacity 100ms linear !important;
}

.neon-button-pink:hover,
.neon-button-pink:focus {
  color: var(--clr-bg) !important;
  text-shadow: none !important;
  z-index: 1;
}

.neon-button-pink:hover::before,
.neon-button-pink:focus::before {
  opacity: 1 !important;
}
.neon-button-pink:hover::after,
.neon-button-pink:focus::after {
  opacity: 1 !important;
}

/* purple neon button */
.neon-button-purple {
  color: var(--clr-neon-purple) !important;
  display: inline-block !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: var(--clr-neon-purple) 0.125em solid !important;
  border-radius: 0.25em !important;
  background: var(--clr-bg) !important;
  padding: 0.25em 1em !important;
  text-shadow: 
    0 0 0.1em hsl(0 0% 50% / 0.5), 
    0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon-purple), 
  0 0 0.5em 0 var(--clr-neon-purple);
  position: relative;
}

.neon-button-purple::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon-purple);
  opacity: 0;
  background-color: var(--clr-neon-purple) !important;
  z-index: -1 !important;
  transition: opacity 100ms linear !important;
}

.neon-button-purple:hover,
.neon-button-purple:focus {
  color: var(--clr-bg) !important;
  text-shadow: none !important;
  z-index: 1;
}

.neon-button-purple:hover::before,
.neon-button-purple:focus::before {
  opacity: 1 !important;
}
.neon-button-purple:hover::after,
.neon-button-purple:focus::after {
  opacity: 1 !important;
}

/* neon button end */
.dropdown-toggle.btn.btn-primary{
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  color: #FFC0CB;
}
.dropdown-toggle.btn.btn-primary:active{
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  color: #FFC0CB;
}
.btn-primary:not(:disabled):not(.disabled).active{
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  color: #FFC0CB;
}


.dropdown-menu.show.dropdown-menu-right{
  max-height: 300px;
  overflow-y:auto;
}
.bg-dark.border.border-dark{
  min-height: 300px;
}

.cityForm .input-group .form-control {
  flex-grow: 1;
}

.cityForm {
  display: flex;
  width: 100%;
}

.seatGeekLogo{
  width: 230px;
  height: 80px;
}

.stubHubLogo{
  height: 85px;
  width: 200px;

}
.ticketmasterLogo{
  height: 80px;
}
.showNoResults:before {
    content: 'No results were found on your search.';
    opacity: -15;
    animation: 20s fadeIn;
    animation-fill-mode: forwards;
    transition: opacity 20s;
  }
@keyframes fadeIn {
  from {
    opacity: -15;
  }
  to {
    opacity: 1;
  }
}

/* slider */

@media (max-width: 600px){

  .slider{
      overflow-x: scroll;
  }
}

.slider{
    display: flex;
    overflow-x: hidden;
    padding-top: 16px;
    padding-bottom: 32px;
    transition: .3s ease-in-out;
}

.separator {
  background-color: #343A40;
}

.line {
  border: 2px  solid #343A40;
  /* background-image: linear-gradient(to bottom right, red, yellow); */
}


.card2{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  position: relative;
  width: 100%;
  height: auto;
  transition: .3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  color: red;
  text-decoration: none;
  background-color:black  !important;
  box-shadow: 0px 0px 8px 0px #000000
}

.card2 img {
  border-radius: 8px;
}

.card-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-content, .card-image {
  border-radius: 8px;
  transform: scale(.9);
  transition: .3s ease-in-out;
}

.slider-border {
  border: solid;
  border-color: #6853B7;
  border-width: thin;
}

.separator-title {
  font-family: 'Roboto', sans-serif;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: #FFC0CB;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card-event-title {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FFC0CB;
}

.card-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card-content-title {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.card-content-footer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 700;
}

.card2, button {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

div{
  display: block;
}

.card2:hover{
  box-shadow:0 0 12px rgba(0,0,0,.5);
}
.card2:hover .card-image{transform:scale(1)}

.card2:hover .card-content{
  -webkit-backdrop-filter:blur(2px);
  backdrop-filter:blur(2px);
  opacity:1;
  background-color:rgba(0,0,0,.5);
  transform:scale(1);
  color: white;
}

/* Performer Results Page */
.performerResultsContainer{
  max-width: 100%;
  margin-bottom: 45px;
}
.perfromerResultsContainer Table{
  color: #FFC0CB;
}
.performerJumbotron{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.performerJumbotron.jumbotron{
  border-radius: 0%;
  height: 300px;
  background-color: rgb(79, 62, 122);
}

.performerBio{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.performerTitle{
  font-size: 72px;
}
.performerGenre{
  font-size: 20px;
  margin-left: 5px;
}

.performerImg{
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-right: 100px;
}

.upcomingEvents{
  font-size: 50px;
  font-weight: 600;
  border-top: 0px;
}

.performerResultsRow.row, .performerResultsTableTitle{
  max-width: 100%;
  margin: auto;
  color: #FFC0CB;
}
.performerResultsTable.table{
  max-width: 100%;
  margin: 0;
  color: #FFC0CB;
}

.performerResultsTableInfo{
  display: flex;
  align-items: center;
  
}

tr.performerResultsTableRow:hover{
  transition: all 0.15s 0s ease-in; 
  background-color: #353535;
  color : #FFC0CB

}

.eventDateTime{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  
}
.perfomerEventDate{
  margin: 0 25px;
  width: 120px;
}

.performerEventTime{
  margin: 0 40px;
  width: 120px;
  font-size: 14px;
}
.td1 {
  width: 80%;
  
}
.td1 a, .contentH1 {
  color: var(--clr-neon-pink) !important;
  text-shadow: 
  0 0 0.1em hsl(0 0% 50% / 0.5), 
  0 0 0.45em currentColor;
}

.sliderHeaders{
  color: white !important;
  text-shadow: 
  0 0 0.5em hsl(0 0% 50% / 0.5), 
  0 0 0.45em currentColor;
}
.td1 a:hover {
  color:rgb(233, 224, 255)
}

.td2{
  width: 20%;
}

.comparePricesBtn.btn {
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  color: #FFC0CB
}
.nextPageBtn.btn, .previousPageBtn.btn {
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  color: rgb(79, 62, 122)
}
.nextPageBtn.btn:hover, .previousPageBtn.btn:hover, .nextPageBtn.btn:active, .previousPageBtn.btn:active, .nextPageBtn.btn:focus, .previousPageBtn.btn:focus{
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  color: rgb(79, 62, 122)
}

.nextPageBtn.btn:active, .previousPageBtn.btn:active{
  border-color: #FFC0CB;
  box-shadow: 0 0 0 0.2rem rgb(#FFC0CB / 50%)
}


.comparePricesBtn.btn:hover, .comparePricesBtn.btn.btn-primary:active{
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  color: #FFC0CB
}
.comparePricesBtn.btn:focus{
  background-color: rgb(79, 62, 122);
  border-color: rgb(79, 62, 122);
  box-shadow: 0 0 0 0.2rem rgb(79 62 122 / 50%);
  color: #FFC0CB
}


.performerResultsButtonRow.row{
  margin: 30px;
}
.performerResultsButtonRow{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}

.performerResultsNextPageButton, .performerResultsPreviousButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* No results found page */
.noResultsFound{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Footer / copyright */
.prices-header {
  font-family: 'Roboto', sans-serif;
}

.stubhub-card-background {
  background-color: black !important;
  min-height: 510px;
  box-shadow: 0px 0px 8px 0px #000000;
  
}

div.mt-3.pricesCard {
  min-height: 510px;
}

.card-background.card {
  background-color: rgb(0, 0, 0) !important;
  min-height: 510px  !important;
  box-shadow: 0px 0px 8px 0px #000000;
}
.card-background.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
img.card-img-top {
  min-height: 240px;
}

.pricesCard{
  min-height:510px;
  
}

.spacer {
  height: 75px;
}

.maps-container{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.maps-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.location-disclaimer {
  font-style: italic;
}

.copyright-container {
  height: 150px;
  background-color: #343A40;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}

.map-row {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
}

.copyright-text {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFC0CB; 
  padding-top: 20px;
}

/* Search Bar Media queries */
@media screen and (max-width: 10000px) {
  .searchBarBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .searchBar.mt-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
  }
  .searchPerformer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .performerInput{
    margin-bottom: 10px;
    min-width: 300px;
  }
  div.input-group-append{
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .mb-3.inputGrp.input-group{
    margin: 0px !important;
    padding: 0px !important;
  }
  .citySearchInput{
    min-width: 300px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 445px) {
  .performerInput{
    margin-bottom: 10px;
    min-width: 300px;
  }
  .searchBar.mt-3{
    margin-bottom: 30px;
  }

}

/* Performer Results media queries */
@media screen and (max-width: 800px) {
  .performerJumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 400px;
  }
  .performerBio{
    align-items: center;
    margin-bottom: 10px;
  }

  .performerImg{
    margin: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 990px) {
  .performerTitle{
    font-size: 38px;
  }

}

@media screen and (max-width: 660px) {
  .upcomingEvents{
    font-size: 33px;
  }

}


@media screen and (max-width: 620px) {

  .upcomingEvents{
    font-size: 40px;
    border-top: 0px;
    text-align: center;
  }
  .performerResultsTableInfo{
    margin: 0px;
  }

  .performerEventDate, .performerEventTime {
    margin: 0px;
  }

  .performerEventTime{
    margin-left: 25px;
  }
  .performerResultsTableRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .td1{
    min-width: 100%;

  }
  .eventsTitleFiller{
    display: none;
  }

  td.td1{
    min-width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  td.td2{
    min-width: 100%;
    border: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eventDateTIme{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 530px) {
  .upcomingEvents{
    font-size: 30px;
    border-top: 0px;
  }

}

@media screen and (max-width: 380px) {
  .performerBio{
    margin-top: 0px !important;
  }
  .performerTitle{
    font-size: 30px;
  }
  .performerGenre{
    font-size: 15px;
  }
  img.performerImg{
    height: 200px !important;
  }

}

@media screen and (max-width: 450px){
  .pageNumber{
    font-size: 12px !important;
    text-align: center;
  }
  .previousPageBtn.btn, .nextPageBtn.btn{
    font-size: 12px;
  }
}