/* centered search bar...add a better fix than padding-right later... */
.search-form {
    /* display: flex; */
    align-items: center;
    padding-right: 110px;
}

.navbar {
    height: 18vh !important;
    background-color: black !important;
}

.senpaiLogo {
    max-width: 6.5em;
    max-height: 6.5em;
    display: flex;
    cursor: pointer;
}

.senpaiBanner {
    display: flex;
    position:-ms-page;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    width: 45%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100vw;
  }

