/* centered search bar...add a better fix than padding-right later... */
.search-form {
    /* display: flex; */
    align-items: center;
    padding-right: 110px;
}

.senpaiLogo {
    max-width: 5.5em;
    max-height: 5.5em;
    display: flex;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100vw;
  }

