/* centered search bar...add a better fix than padding-right later... */
.search-form {
    /* display: flex; */
    align-items: center;
    padding-right: 110px;
}

.navbar {
    height: 18vh !important;
    background-color: black !important;
}

.senpaiLogo {
    max-width: 6.5em;
    max-height: 6.5em;
    display: flex;
    cursor: pointer;
}

.senpaiBanner {
    display: flex;
    position:-ms-page;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    width: 45%;
    min-width: 330px;
    cursor: pointer;
}



/* Media queries for navbar */ 

@media screen and (max-width: 560px) {
    .senpaiLogo{
        display: none;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        height: 22vh !important;
    }
}





